.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  align-self: flex-end;
  padding: 10px 10px;
  border-radius: 8px;
  border: none;
  background: #4caf50;
  color: white;
  cursor: pointer;
}
