.carro-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f1f1f;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.carro-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  margin-top: 8px;
  background: #1f1f1f;
  border-radius: 8px;
}
